.numbers {
    // border: 1px solid red;
    margin-top: 91px;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-arrival;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 136.4%;
        text-align: center;
        color: #FFFFFF;
    }

    h5 {
        color: $primary;
        // margin-bottom: 60px;
        text-transform: capitalize;
    }

    .numbers--description {
        margin-bottom: 60px;
    }
}